@import url('https://fonts.googleapis.com/css2?family=Doppio+One&display=swap');
/* body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35));
} */
body {
  margin: 0;
  font-family: "Doppio One", sans-serif;
  background-color: black;
  color: white;
  /* background-image: linear-gradient(to left, rgb(27 20 41), rgb(20 15 35)); */

  
}
